
{% block content %}
<h1> Lista de Oficinas</h1>

<ul>
    {% for Lista in Lista %}
    <li>
        <a href="{% url 'Oficina_Creada' OFICINAS_id%}">
            <h1>{{Lista.codigo}}</h1>
            <p>{{Lista.nombre_oficina}}</p>            
        </a>
    </li>
    <label for="exampleDataList" class="form-label">Datalist example</label>
    <input class="form-control" list={{Lista.cliente}} id="exampleDataList" placeholder="Escribe para buscar...">
    <datalist id={{Lista.cliente}}>
        <a href="{% url 'Listar_Clientes'%}">
            <p>{{Lista.cliente}}</p>
        </a>
        <!-- <option value="San Francisco">
            <option value="New York">
            <option value="Seattle">
            <option value="Los Angeles">
            <option value="Chicago"> -->
    </datalist>
    {% endfor%}
</ul>
{% endblock %}