
{% block content %}
<h1> Lista de Terceros</h1>

<ul>
    {% for Lista in Lista %}
    <li>
        <a href="{% url 'Listar_Terceros' %}">
            <h1>{{Lista.cliente}}</h1>
            <p>{{Lista.cla_doc}}</p>
            <p>{{Lista.dig_ver}}</p>
            <p>{{Lista.nit_rap}}</p>
            <p>{{Lista.doc_ide}}</p>
            <p>{{Lista.cod_ciu_exp}}</p>
            <p>{{Lista.cod_ciu_res}}</p>
            <p>{{Lista.nombre}}</p>
            <p>{{Lista.direccion}}</p>
            <p>{{Lista.tel_ofi}}</p>
            <p>{{Lista.fax}}</p>
            <p>{{Lista.celular1}}</p>
            <p>{{Lista.celular2}}</p>
            <p>{{Lista.regimen}}</p>
            <p>{{Lista.email}}</p>
            <p>{{Lista.fec_exp_ced}}</p>
            <p>{{Lista.tip_ter}}</p>
            <p>{{Lista.pri_ape}}</p>
            <p>{{Lista.seg_ape}}</p>
            <p>{{Lista.seg_nom}}</p>
            <p>{{Lista.raz_soc}}</p>
            <p>{{Lista.cod_pos}}</p>
            <p>{{Lista.tel_res}}</p>
            <p>{{Lista.id_ds}}</p>
            <p>{{Lista.fec_act}}</p>
            <p>{{Lista.observacion}}</p>
            <p>{{Lista.per_pub_exp}}</p>
            <p>{{Lista.nit_interno}}</p>      

        </a>
    </li>
    <label for="exampleDataList" class="form-label">Datalist example</label>
    <input class="form-control" list={{Lista.tercero}} id="exampleDataList" placeholder="Escribe para buscar...">
    <datalist id={{Lista.tercero}}>
        <a href="{% url 'Listar_Terceros' %}">
            <p>{{Lista.tercero}}</p>
        </a>
        <!-- <option value="San Francisco">
            <option value="New York">
            <option value="Seattle">
            <option value="Los Angeles">
            <option value="Chicago"> -->
    </datalist>
    {% endfor%}
</ul>
{% endblock %}